*{
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    margin:0px;
    padding:0px;
}
#nav{
    border:1px solid red;
    height:115px;
    position: sticky;
    top:0px;
}
#top-div{
    border:1px solid green;
    height:32%;
    display: flex;
    margin-top:8px;
}
#top-div>img{
    margin-left: 20px;
    width:39px;
    height:39px;
    
}
#top-div>div{
    border:none;
    background-color:#EEEE;
    width: 53%;
    height:100%;
    margin-left:20px;
    display:inline-flex;
    border-radius: 50px;
    align-items: center;
}
#top-div>div:hover{
    border:0.1px solid #b8b7b7;
    cursor:text;  
}
#top-div>div>input{
    color:#8b919e;
    font-size: 14px;
    letter-spacing:1px;
    margin-left:15px;
    width:90%;
    height:97%;
    background-color:#EEEE ;
    border:none;
    outline:none;
}
#top-div>div>img{
    width:17px;
    margin-left: 25px;
    filter:opacity(50%);
}
#top-div>div>img:hover{
    filter:opacity(100%);
    cursor: pointer;
}
#top-div>div+div{
    width:40%;
    border-radius:0px;
    margin-left:30px;
    background-color: white;
}
#top-div>div+div:hover{
    border:0px solid #b8b7b7;
}
#top-div>div+div>a{
    margin-right: 30px;
    text-decoration: none;
    color:#7A7F8C;
}
#top-div>div+div>a:hover{
    cursor: pointer;
    color:black;
}
#divider{
    background-color: #767676;
    color:#7A7F8C;
    width:0.2px;
    height:80%;
    margin-right:35px ;
    filter: opacity(50%);
}
button{
    font-size: 14px;
    color:#7A7F8C;
    padding:6px ;
    background-color:white;
    border:0.1px solid #7A7F8C;
    border-radius: 4px;
}
button:hover{
    font-size: 14px;
    color:black;
    padding:6px ;
    background-color:white;
    border:0.1px solid black;
    cursor: pointer;
    border-radius: 4px;
}
button+img{
    filter: opacity(60%)

}
.three-line:hover{
    filter:opacity(100%);
    cursor:pointer;
}
#divider+a+p{
    margin-left:-7px;
    margin-right: 20px;
    font-weight: bold;
    color:#7A7F8C
}
#bottom-div{
    height:29%;
    border:1px solid green;
    margin-top:2px;
    display: flex;
    
}
#top-div+p{
    font-size: 11px;
    margin-left:119px;
    border:0px solid red;
    height:12px;
    margin-top:20px;
    color: #7A7F8C;
;
}
#home{
    color:#7A7F8C;
    text-decoration: none;
    margin-right:33px;
    font-size: 15px;
}
#home~a{
    color:#7A7F8C;
    text-decoration: none;
    margin-left:24px;
    font-size: 15px;
}
#bottom-div>a:hover{
    color:black;
    cursor: pointer;
}
#home+div{
    background-color: #767676;
    color:#7A7F8C;
    width:0.2px;
    height:60%;
    margin-right:4px ;
    filter: opacity(50%);
}




